{% extends 'board/layout.html' %}

{% block title %}Comments{% endblock %}

{% block content %}

<h1 class="mb-4">Count comments in adds:</h1>
<div class="row">
        {% for ad in ads_with_comments %}
            <div class="col-md-6 mb-3">
                <div class="card shadow-sm p-3">
                    <h5>{{  ad.title }}</h5>
                    <p class="text-muted mb-0">
                        {{ ad.count_comments }}
                    </p>
                    <p class="text-muted mb-0">
                        {{ ad.co }}
                    </p>
                </div>
            </div>
        {% empty %}
            <p>No adds found.</p>
        {% endfor %}
    </div>

{% endblock %}